:root {
  --bg-primary: #fff;
  --bg-secondary: #eeeeee;
  --bg-tertiary: #000;
  --accent: #0162ff;
  --text: #000;
  --border: #ddd;
}
* {
  margin: 0;
  padding: 0;
}
body {
  background: var(--bg-primary);
}
input {
  outline: none !important;
}
a {
  text-decoration: none;
}
body {
  font-family: 'Inter', sans-serif;
  color: var(--text);
}
.top {
  margin-top: 10vh;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 1em;
  border-bottom: solid var(--border) 0.1em;
}
#searchbox {
  font-family: 'Inter', sans-serif;
  margin-top: 0.45em;
  background: var(--bg-secondary);
  border: solid 1px var(--border);
  color: var(--text);
  font-size: 1.2em;
  padding-top: 0.7em;
  padding-bottom: 0.7em;
  padding-left: 0.5em;
  width: calc(100% - 0.5em);
  border-radius: 0.4em;
}
#searchbox::-webkit-search-cancel-button {
  -webkit-appearance: none;
          appearance: none;
}
#searchbox::-webkit-input-placeholder {
  color: var(--border);
  font-family: 'Inter', sans-serif;
  font-weight: 600;
}
#searchbox::-moz-placeholder {
  color: var(--border);
  font-family: 'Inter', sans-serif;
  font-weight: 600;
}
#searchbox::-ms-input-placeholder {
  color: var(--border);
  font-family: 'Inter', sans-serif;
  font-weight: 600;
}
#searchbox::placeholder {
  color: var(--border);
  font-family: 'Inter', sans-serif;
  font-weight: 600;
}
.scroller {
  margin-top: 1em;
  padding: 1em 5%;
  overflow-x: scroll;
  overflow-y: visible;
  white-space: nowrap;
  transition: 0.2s;
}
.scroller::-webkit-scrollbar {
  width: 0.1em;
}
.scroller a {
  color: #fff;
  padding: 0.8em;
  margin-right: 0.5em;
  border-radius: 0.3em;
  -webkit-tap-highlight-color: transparent;
  transition: 0.2s;
  display: inline-block;
}
.selected {
  background: var(--accent);
}
.unselected {
  background: var(--bg-tertiary);
}
#projects {
  margin-top: 1em;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 1em;
  -webkit-transform: translateX(-2px);
          transform: translateX(-2px);
  display: grid;
  grid-template-columns: 1;
}
.project,
.result {
  width: 100%;
  border-radius: 0.5em;
  border: solid var(--border) 2px;
  margin-bottom: 1em;
  max-width: 480px;
}
.project img {
  width: 100%;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}
.project-title {
  padding: 0.6em;
}
.project-title a {
  color: var(--accent);
}
#not-found {
  display: none;
  width: 60vw;
  margin-left: 20vw;
}
#menuButton {
  float: right;
  width: 1em;
  fill: var(--accent) !important;
  padding-right: 0.25em;
}
#results {
  padding-left: 5%;
  padding-right: 5%;
}
.result {
  text-align: left;
  padding: 1.2em;
  color: var(--accent);
  max-width: 79vw;
}
.spinner {
  -webkit-animation: rotation 1.35s linear infinite;
          animation: rotation 1.35s linear infinite;
  position: absolute;
  top: 50%;
  left: calc(50% - 32.5px);
  stroke: var(--accent);
}
@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
}
@keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
}
.circle {
  stroke-dasharray: 180;
  stroke-dashoffset: 0;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-animation: turn 1.35s ease-in-out infinite;
          animation: turn 1.35s ease-in-out infinite;
}
@-webkit-keyframes turn {
  0% {
    stroke-dashoffset: 180;
  }
  50% {
    stroke-dashoffset: 45;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 180;
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg);
  }
}
@keyframes turn {
  0% {
    stroke-dashoffset: 180;
  }
  50% {
    stroke-dashoffset: 45;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 180;
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg);
  }
}
