.comments {
  margin-top: 0.5em;
  padding-left: 5%;
  padding-right: 5%;

  .comments__comment {
    padding: 1em;
    background: var(--bg-secondary);
    border-radius: 0.3em;
    margin-bottom: 0.6em;
    box-shadow: var(--shadow);
    display: flex;
    overflow-wrap: anywhere;

    .comments__pfp {
      width: 2.5em;
      height: 2.5em;
      object-fit: cover;
      object-position: 50% 50%;
      border-radius: 0.3em;
    }

    .comments__content {
      padding-left: 1em;
      color: var(--text);
    }
  }
}
