* {
  margin: 0;
  padding: 0;
  user-select: none;
}

body {
  background: var(--bg-primary);
}

input {
  outline: none !important;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Inter', sans-serif;
  color: var(--text);
}

.top {
  padding-top: 10vh;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 1em;
}

.top--sticky {
  position: sticky;
  top: -3em;
  z-index: 20;
  background: var(--bg-primary);
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.16);
}

#searchbox {
  font-family: 'Inter', sans-serif;
  margin-top: 0.45em;
  background: var(--bg-secondary);
  border: solid 1px var(--border);
  color: var(--text);
  font-size: 1.2em;
  padding-top: 0.7em;
  padding-bottom: 0.7em;
  padding-left: 0.5em;
  width: calc(100% - 0.5em);
  border-radius: 0.4em;

  &::-webkit-search-cancel-button {
    appearance: none;
  }
  &::placeholder {
    color: var(--text);
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    opacity: 0.3;
  }
}

.project,
.result {
  width: 100%;
  border-radius: 0.5em;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.16);
  margin-bottom: 1em;
  max-width: 480px;
  transition: 0.2s;
  &:active {
    transform: scale(0.98);
    transition: 0.2s;
  }
}

#not-found {
  display: none;
  width: 60vw;
  margin-left: 20vw;
}

#menuButton {
  float: right;
  width: 1em;
  fill: var(--accent) !important;
  padding-right: 0.25em;
}
