@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
  background-color: #1A1A1A;
  overflow: hidden;
}

a {
  color: white;
  text-decoration: none;
}

.main {
  height: 100vh;
  overflow-y: scroll;
  width: 100vw;
  position: absolute;
  bottom: 0;
  left: 0;
}

.huge {
  font-size: 3em !important;
}

.home-button {
  img {
    position: absolute;
    bottom: 5px;
    left: 50%;
    height: 11vh;
    width: auto;
    transform: translateX(-50%);
  }
}

.nav {
  background-color: #292929;
  height: 7vh;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  box-shadow: 0 -10px 30px rgba(0,0,0,0.5);
  text-align: center;
  z-index: 1;

  .icon-mail {
    position: absolute;
    bottom: 8.5px;
    left: 30px;
    font-size: 1.5em !important;
  }

  .icon-user {
    position: absolute;
    bottom: 8.5px;
    right: 30px;
    font-size: 1.5em !important;
  }
}

.greeter {
  margin-left: 6vw;
  margin-right: 6vw;
  margin-top: 45px;
  font-family: 'Inter', sans-serif;
  color: white;
  font-size: 1.6em;
  text-align: center;
}

.yours {
  margin-bottom: 15vh !important;
}

.featured,
.top-loved {
  height: fit-content !important;
}

.now {
  height: 40vh !important;
  display: none;
}

.grid {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 2;
  justify-content: center;
  align-content: center;
  overflow-y: scroll;

  .gridbox {
    box-shadow: 0 0 50px rgba(0,0,0,0.7);
    border-radius: 6px;
    width: 88vw;
    background-color: #292929;
    margin-bottom: 25px;
    overflow-x: hidden;

    .offline-img {
      height: 20vh;
      width: auto;
      position: relative;
      top: 50%;
      left: 50%;
      transform: translateX(-50%);
    }

    .gridbox-header {
      font-family: 'Inter', sans-serif;
      font-size: 1em;
      color: white;
      padding: 10px;
      position: relative;
      top: 0;
      left: 0;
    }

    .overlay {
      font-size: 0.7em;
      font-family: 'Inter', sans-serif;
    }

    .project-row {
      display: inline-flex;
      overflow-x: scroll;
      width: 88vw;
    }

    .project-thumb {
      padding: 15px;
    }

    .project-img {
      border-radius: 5px;
      height: 19vh;
    }
  }
}