:root {
  --bg-primary: #fff;
  --bg-secondary: #eeeeee;
  --bg-tertiary: #000;
  --accent: #0162ff;
  --text: #000;
  --border: #ddd;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: var(--bg-primary);
}

input {
  outline: none !important;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Inter', sans-serif;
  color: var(--text);
}

.top {
  margin-top: 10vh;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 1em;
  border-bottom: solid var(--border) 0.1em;
}

#searchbox {
  font-family: 'Inter', sans-serif;
  margin-top: 0.45em;
  background: var(--bg-secondary);
  border: solid 1px var(--border);
  font-size: 1.2em;
  padding-top: 0.7em;
  padding-bottom: 0.7em;
  padding-left: 0.5em;
  width: calc(100% - 0.5em);
  border-radius: 0.4em;
}

#searchbox::placeholder {
  color: var(--border);
  font-family: 'Inter', sans-serif;
  font-weight: 600;
}

.scroller {
  margin-top: 1em;
  padding: 1em 5%;
  overflow-x: scroll;
  overflow-y: visible;
  white-space: nowrap;
  transition: 0.2s;
}

.scroller a {
  color: #fff;
  padding: 0.8em;
  margin-right: 0.5em;
  border-radius: 0.3em;
  -webkit-tap-highlight-color: transparent;
  transition: 0.2s;
  display: inline-block;
}

.scroller::-webkit-scrollbar {
  width: 0.1em;
}

.selected {
  background: var(--accent);
}

.unselected {
  background: var(--bg-tertiary);
}

#projects {
  margin-top: 1em;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 1em;
  transform: translateX(-2px);
}

.project {
  width: 100%;
  border-radius: 0.5em;
  border: solid var(--border) 2px;
  margin-bottom: 1em;
  max-width: 480px;
}

.project img {
  width: 100%;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

.project-title {
  padding: 0.6em;
}

.project-title a {
  color: var(--accent);
}

#not-found {
  display: none;
  width: 60vw;
  margin-left: 20vw;
}

#menuButton {
  float: right;
  width: 1em;
  fill: var(--accent) !important;
}

#results {
  padding-left: 5%;
  padding-right: 5%;
}

.result {
  background: var(--bg-primary);
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 15px;
  width: max-content;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 1.5em;
}