@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
  background-color: #1A1A1A;
  overflow: hidden;
}

a {
  color: white;
  text-decoration: none;
}

.main {
  height: 100vh;
  overflow-y: scroll;
}

.huge {
  font-size: 4em !important;
}

.nav {
  background-color: #292929;
  height: 150px;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  box-shadow: 0 -10px 30px rgba(0,0,0,0.5);
  text-align: center;
  z-index: 1;

  .home-button {
    img {
      height: 200px;
      width: auto;
      transform: translateY(-70px);
    }
  }

  .icon-mail {
    position: absolute;
    bottom: 42px;
    left: 60px;
    font-size: 65px !important;
  }

  .icon-user {
    position: absolute;
    bottom: 42px;
    right: 60px;
    font-size: 65px !important;
  }
}

.greeter {
  margin-left: 6vw;
  margin-right: 6vw;
  margin-top: 30px;
  font-family: 'Inter', sans-serif;
  color: white;
  font-size: 4em;
  text-align: center;
}

.yours {
  margin-bottom: 15vh !important;
}

.featured,
.top-loved {
  height: fit-content !important;
}

.now {
  height: 40vh !important;
  display: none;
}

.grid {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 2;
  justify-content: center;
  align-content: center;
  overflow-y: scroll;

  .gridbox {
    box-shadow: 0 0 50px rgba(0,0,0,0.7);
    border-radius: 10px;
    width: 88vw;
    height: 500px;
    background-color: #292929;
    margin-bottom: 50px;
    overflow-x: hidden;

    .offline-img {
      height: 90%;
      width: auto;
      position: relative;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-30px);
    }

    .gridbox-header {
      font-family: 'Inter', sans-serif;
      font-size: 3em;
      color: white;
      padding: 20px;
      position: relative;
      top: 0;
      left: 0;
    }

    .overlay {
      font-size: 1.75em;
      font-family: 'Inter', sans-serif;
    }

    .project-row {
      display: inline-flex;
      overflow-x: scroll;
      width: 88vw;
    }

    .project-thumb {
      padding: 35px 35px 25px;
    }

    .project-img {
      border-radius: 20px;
      height: 25vh;
    }
  }
}