/*
_____                _     ____ ____ ____
|  _ \ ___  ___  ___| |_  / ___/ ___/ ___|
| |_) / _ \/ __|/ _ \ __|| |   \___ \___ \
|  _ <  __/\__ \  __/ |_ | |___ ___) |__) |
|_| \_\___||___/\___|\__(_)____|____/____/

A simple method to reset all browser styling
Written in 2020 by Micah Lindley

*/
* {
  margin: 0;
  padding: 0;
}